{
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "corejs": "^3.1.1",
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ]
}
